<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dotnet-agile9-outlook-context-db.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dotnet-agile9-outlook-context-db.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dotnet-agile9-outlook-context-db</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dotnet-agile9-outlook-context-db</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:lizp94guw0.database.windows.net,1433;Initial Catalog=dotnet-agile9-outlook-context-db_db;User ID=matejv@lizp94guw0;Password=Radeon98" Name="Data Source=tcp:lizp94guw0.database.windows.net,1433;Initial Catalog=dotnet-agile9-outlook-context-db_db;User Id=matejv@lizp94guw0;Password=Radeon98" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|agile9outlookcontextdbContext-20150702214623.mdf;Initial Catalog=agile9outlookcontextdbContext-20150702214623;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=agile9outlookcontextdbContext-20150702214623; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|agile9outlookcontextdbContext-20150702214623.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbContext-Web.config Connection String">
      <ParameterValue>data source=tcp:lizp94guw0.database.windows.net,1433;initial catalog=dotnet-agile9-outlook-context-db_db;user id=matejv@lizp94guw0;password=Radeon98;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>